##mako

## TODO Move this to static_static templates

<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="main.html" />

<%block name="pagetitle">${_("Summary")}</%block>

<section class="container about ifmo-content">

    <h1>Summary</h1>

    <hr class="horizontal-divider">

    <style scoped="scoped">
        .sum_a_c { text-align: center; }
        .sum_a_l { text-align: left; }
        button.control { color: white; }
    </style>

    <button class="control" onclick="$('.sum_col_id').toggle()">Toggle ID</button>
    <button class="control" onclick="$('.sum_col_course_name').toggle()">Course name</button>
    <button class="control" onclick="$('.sum_col_enrolled').toggle()">Course enrolled</button>
    <button class="control" onclick="$('.sum_col_start').toggle()">Course start date</button>

    <hr class="horizontal-divider">

    <table>
        <tr>
            <th class="sum_col_id">id</th>
            <th class="sum_col_course_name">Course name</th>
            <th class="sum_col_enrolled">Enrolled</th>
            <th class="sum_col_start">Start date</th>
        </tr>
        % for course in courses:
        <tr>
            <td class="sum_a_l sum_col_id">${ course['id'] }</td>
            <td class="sum_a_l sum_col_course_name">${ course['display_name'] }</td>
            <td class="sum_a_c sum_col_enrolled">${ course['enrolled']['total'] }</td>
            <td class="sum_a_c sum_col_start">${ course['start'].strftime('%d.%m.%Y') }</td>
        </tr>
        % endfor
    </table>

</section>